// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  position: relative;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.ivn-container {
  max-width: $site-width;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.ivn-list--unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
