// -----------------------------------------------------------------------------
// This file contains basic typography styles.
// -----------------------------------------------------------------------------

body {
  font-family: $f-basic;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

h1,
h2,
h3,
.ivn-h1,
.ivn-h2,
.ivn-h3 {
  font-family: $f-fancy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
  color: $c-font;
}

h1,
.ivn-h1 {
  font-size: 32px;
  line-height: 30px;

  @media (min-width: $media-sm) {
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $media-lg) {
    font-size: 60px;
    line-height: 60px;
  }
}

h2,
.ivn-h2 {
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $media-sm) {
    font-size: 26px;
    line-height: 32px;
  }

  @media (min-width: $media-lg) {
    font-size: 28px;
    line-height: 34px;
  }
}

h3,
.ivn-h3 {
  font-size: 20px;
  line-height: 24px;

  @media (min-width: $media-lg) {
    font-size: 24px;
    line-height: 26px;
  }
}

p,
span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $c-font;
  letter-spacing: 0;

  @media (min-width: $media-md) {
    font-size: 15px;
    line-height: 24px;
  }
}

p {
  margin: 0 0 20px;
}

strong {
  font-weight: 700;
}

a,
button {
  @include ivn-on-event(true) {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }

  color: $c-font;
}
